.container {
  display       : flex;
  flex-direction: row;

  .left {
    padding-left: 1rem;

    >.avatar {
      margin: 0.5rem;
    }
  }

  .right {
    padding-right: 1rem;

    .user {
      display        : flex;
      flex-direction : row;
      justify-content: flex-start;
      align-items    : center;
      margin         : 0.5rem;
      margin-left    : 0;

      >.info {
        margin-right: 0.5rem;
        flex-grow   : 1;

        >.nickname {
          font-weight: bold;
        }

        >.username {
          color    : gray;
          font-size: small;
        }
      }

      >.time {
        margin   : 0 0.5rem;
        color    : #5b7083;
        font-size: small;
      }
    }

    .content {
      margin     : 0.5rem;
      margin-left: 0;

      // >.text {}

      >.image {
        width        : 100%;
        border-radius: 1rem;
        margin-top   : 0.5rem;
      }
    }

    .action {
      display        : flex;
      flex-direction : row;
      justify-content: space-between;
      align-items    : center;
      margin         : 0.25rem;
      margin-left    : 0;
      color          : #5b7083;

      >.grow {
        flex-grow: 1;
      }

      .button {
        width : 18.5px;
        height: 18.5px;
      }

      .number {
        font-size: 13px;
        padding  : 0 0.75rem;
      }
    }
  }
}

.split {
  margin      : 0;
  border-width: 0.025px;
  color       : lightgray;
}
